<div class="lightbox" id="lightbox">
  <button class="lightbox-close" id="lightbox-close"><i class="fas fa-times"></i></button>
  <button class="lightbox-prev" id="lightbox-prev"><i class="fas fa-chevron-left"></i></button>
  <button class="lightbox-next" id="lightbox-next"><i class="fas fa-chevron-right"></i></button>
  <div class="lightbox-content">
    <div class="lightbox-placeholder" id="lightbox-img">
      <i class="fas fa-image"></i>
      <span id="lightbox-caption">Photo Caption</span>
    </div>
  </div>
</div>